<!DOCTYPE html>
<html>
<body>
    <div id="root"></div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>          <!-- React -->
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script> <!-- React DOM -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> <!-- babel 설치  JSX 언어를 변환해줌-->

<script type="text/babel">
    const root = document.getElementById("root");

    function Title(){
     return (<h3 id= "title" onMouseEnter={() => console.log("mouse enter")}>"Hello I'm a title</h3>);
    }
   /* const h3 = React.createElement("h3", {
        id: "title",
        onMouseEnter: () => console.log("mouse enter"),     //onMouseEnter = 마우스 올려놓으면 count
    },"Hello I'm a span");*/

    const Button = () => (<button style={{backgroundColor: "tomato"}}
                      onClick={() => console.log("im clicked")}>Click me</button>);

    /*const btn = React.createElement("button",{
        onClick: () => console.log("im clicked"), //click하면 count
        style: {
            backgroundColor : "tomato"
        }
    },"Click me");*/

    const Container = () => (     //컴포넌트의 첫글자는 항상 대문자여야됨 Title Button
        <div>
            <Title />
            <Button/>
            <button> 소문자로 적으면 이렇게됨</button>
        </div>
    );
    // const container = React.createElement("div",null,[Title,Button]);


    ReactDOM.render(<Container />, root);
</script>
</html>