<!DOCTYPE html>
<html>
<body>
<div id="root"></div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>          <!-- React -->
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script> <!-- React DOM -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> <!-- babel 설치  JSX 언어를 변환해줌-->

<!-- 기본적인 버튼 클릭시 Count 을 하나씩 증가 -->
<script type="text/babel">
    const root = document.getElementById("root");
    let counter = 0;

    function App(){
        const [counter, setCounter]  = React.useState(0);  //(초기값, 바꿀 변수) 설정가능 배열형태로 저장됨
        const onClick = () => {
            //setCounter(counter + 1);            //setCounter에 값을 넣어주면 자동으로 render해줌.
            setCounter((current) => current + 1);           //이게 더 안전 현재상태를 기준으로 계산
        }
        return (
            <div>
                <h3>Total clicks: {counter}</h3>
                <button onClick={onClick}>click me</button>
            </div>);
    }

    ReactDOM.render(<App />, root);
</script>
</html>